extends ../layout 

block content
    artcle
        form(action='/device/add' method='post')
            p
                input(type="text" name='title' placeholder='title')
            p
                textarea(name="description" placeholder='description')
            p
                input(type='text' name='author' placeholder='author')
            p   
                input(type='submit')


