div(class="modal" id="addModalView")
  form(action="/device/add" method="post")
    div(class="modal-background")
    div(class="modal-card")
      header(class="modal-card-head")
        p(class="modal-card-title") 장비 추가
      section(class="modal-card-body")
        div(class="content")
          section(class="section")
            h6 제조사
            p
                div(class="select")
                    select(name="manufacturer")
                        option
                        option(value="APPLE") APPLE        
                        option(value="SAMSUNG") SAMSUNG
                        option(value="LG") LG 
                        option(value="SKY") SKY
                        option(value="Xiaomi") Xiaomi
                        option(value="ASUS") ASUS
                        option(value="TG") TG
                        option(value="HWAWEI") HWAWEI  
            h6 이름
            p
                input(class="input" type="text" name="name" placeholder="이름" required)
            h6 모델명 
            p
                input(class="input" type="text" name="model" placeholder="모델명" required)
            h6 시리얼 번호
            p
                input(class="input" type="text" name="serial" placeholder="시리얼 번호" required)
            h6 IMEI
            p
                input(class="input" type="text" name="imei" placeholder="15자리 숫자" required)
            h6 OS 종류
            p
                div(class="select")
                    select(name="os_type") 
                        option(value="ANDROID") ANDROID
                        option(value="iOS") iOS
            h6 OS 버전
            p
                input(class="input" type="text" name="os_version" placeholder="8.2" required)
            h6 취득일
            p
                input(class="input" type="date" name="get_dt")
            h6 자산 코드
            p
                input(class="input" type="text" name="assetcode")
            h6 비고
            p
                textarea(class="textarea" name="info")
      footer(class="modal-card-foot")
        div(class="field is-grouped")
          p(class="control")
            input(class="button is-success" type="submit" value="저장")
          p(class="control")
            a(class="button" href="/device") 취소
