extends ../layout

block main
    section(class="section")
        div(class="columns is-mobile")
            div(class="column")
                    div(class="container")
                        div(class="content")
                            form(action="/device/"+deleteInfo._id+"/delete" method="post")
                                section(class="section")
                                    h1= deleteInfo.name
                                    h2 삭제하시겠습니까?
                                section(class="section")
                                    div(class="field is-grouped")
                                        p(class="control")
                                            input(class="button is-success" type="submit" value="확인")
                                        p(class="control")
                                            a(class="button" href="/device/"+deleteInfo._id) 취소
