div(class="container")
    nav(class="level is-mobile")
        div(class="level-left")
            p(class="level-item")
                a(class="button" href='/device/add') 추가
    


                