div(class='container')
  nav(class='level is-mobile')
    div(class='level-left')
    case roleID
      when 1
        div(class='level-right')
          p(class='level-item')
            a(class="button" id="openAddModalView") 추가
            include ../device/add              
  script(src="/source/javascript/add-modal-view-1.0.js")
              