div(class='container')
  nav(class='level is-mobile')
    div(class='level-left')
    case roleID
      when 1
        div(class='level-right')
          p(class='level-item')
            a(class="button" href='/device/add') 추가
              