extends ../layout

block main
  section(class="section")
    include navbar
  section(class="section")
    include level
    div(class="container")
      div(class="table-container")
        table(class="table is-fullwidth" id="deviceTable")
          thead
            tr
              th(onclick="sortDeviceTable(1)") 이름 
                i(class="fas fa-sort")
              th(onclick="sortDeviceTable(2)") 모델명 
                i(class="fas fa-sort")
              th(onclick="sortDeviceTable(4)") OS 버전 
                i(class="fas fa-sort")
          tbody
            each list in devicedb
              tr
                td
                  a(href='/device/'+list.uid)= list.device_name
                td= list.device_model
                td= list.device_osversion
        script(src="/source/javascript/device-table-sort-1.0.js")
