extends ../layout

block content
  h1 
    a(href='/device') Device List
  ul
    each list in lists
      li
        a(href='/device/'+list.id)= list.title
  artcle
    if body
      h2= body.title
      = body.description
      div= 'by '+body.author
  ul
    li
      a(href='/device/add') ADD
    if body
      li
        a(href='/device/'+body.id+'/edit') EDIT
      li
        a(href='/device/'+body.id+'/delete') DELETE
        