extends ../layout

block main
  section(class="section")
    include navbar
  section(class="section")
    include level
    div(class="container")
      div(class="table-container")
        table(class="table is-fullwidth" id="deviceTable")
          thead
            tr
              th(onclick="sortDeviceTable(0)") 장비 이름 
                i(class="fas fa-sort")
              th(onclick="sortDeviceTable(1)") OS 
                i(class="fas fa-sort")
              th(onclick="sortDeviceTable(2)") 대여자 
                i(class="fas fa-sort")
              th(onclick="sortDeviceTable(3)") 대여 시간 
                i(class="fas fa-sort")
              th 대여 여부
              case roleID
                when 1 
                  th 반납 확인
          tbody
            each list in deviceDB
              - let id = list._id
              - let deviceName = list.name
              - let osVersion = list.os_version
              - let rentalUserName = list.rental[list.__v].rental_user_name
              - let rentalDate = list.rental[list.__v].rental_dt
              tr
                td
                  a(href="/device/"+id)= deviceName
                td= osVersion
                td= rentalUserName
                case rentalDate
                  when null
                    td
                  default
                    td= format(rentalDate, "yyyy-mm-dd HH:MM")
                case rentalDate
                  when null
                    td
                      button(class="button is-link" onclick="rentalPopupView('"+id+"')") 대여 가능
                  default
                    td
                      button(class="button is-warning" disabled) 대여 중
                case roleID
                  when 1
                    td
                      case rentalDate
                        when null 
                          button(class="button" disabled) 반납 확인
                        default
                            button(class="button" onclick="returnPopupView('"+id+"')") 반납 확인
  script(src="/source/javascript/device-table-sort-1.1.js")
  script(src="/source/javascript/rental-popup-view-1.0.js")
  script(src="/source/javascript/return-popup-view-1.0.js")
