div(class="container")
  div(class= "container")
    div(class="tabs")
      ul
        li(class="is-active")
          a(href="/device") 장비 목록
        li
          a(href="/rental") 대여 가능한 장비 목록
        li          
          a(href="/return") 반납 해야할 목록
        li 
          a(href="/user") 사용자 목록
