extends layout

block main
  section(class='section')
    div(class='columns is-mobile')
      div(class='column')
        div(class='container')
          div(class='content')
            h1= message
              h3= error.status
              pre #{error.stack}
