extends layout

block main
  section(class='hero is-fullheight')
    div(class='hero-body')
      div(class='container has-text-centered')
        div(class='content')
          h1(class='title')
            =title+'🇮🇪'
          h2 ES
          