extends ../layout 

block main
    section(class="section")
        div(class="columns is-mobile")
            div(class="column")
                    div(class="container")
                        div(class="content")
                            form(action="/user/add" method="post")
                                section(class="section")
                                    h1 사용자 추가
                                    h6 이름
                                    p
                                        input(class="input" type="text" name="user_name" placeholder="eden" required)
                                    h6 LDAP ID
                                    p 
                                        input(class="input" type="text" name="user_ldap" placeholder="eden.podo" required)
                                    h6 Email 
                                    p
                                        input(class="input" type="email" name="user_email" placeholder="eden@kakaopage" required)
                                section(class="section")
                                    div(class="container")
                                        div(class="field is-grouped")
                                            p(class="control")
                                                input(class="button is-success" type="submit" value="확인")
                                            p(class="control")
                                                a(class="button" href="/user") 취소
                                                