extends ../layout

block main
  section(class='section')
    div(class='columns is-mobile')
      div(class='column')
        div(class='container')
          div(class='content')
            form(action='/user/'+editDB._id+'/edit' method='post')
              section(class='section')
                h1 정보 수정 
                h6 이메일
                p
                  input(class='input' type='email' name='email' value=editDB.email disabled)
                h6 이름
                p
                  input(class='input' type='text' name='name' value=editDB.name require)
              section(class='section')
                div(class='field is-grouped')
                  p(class='control')
                    input(class='button is-success' type='submit' value='확인')
                  p(class='control')
                    a(class='button' href='/user/') 취소
