html {
  height: 100%;
}

body {
  /* min-height: 100%; */
  display: grid;
  grid-template-rows: 1fr auto;
}

a {
  color: #00B7FF;
}

/* #header {

}

#footer {
  grid-row-start: 2;
  grid-row-end:3  
} */