extends ../layout

block main
  section(class="section")
    include navbar
  section(class="section")
    div(class="container")
      div(class="table-container")
        table(class="table is-fullwidth")
          thead
            tr
              th 이름
              th 대여한 사람
              th 대여한 시간
              th 대여 여부
          tbody
            each list in deviceinfo
              tr
                td
                  a(href='/device/'+list.uid)= list.device_name
                td= list.device_rental_user
                td= list.device_rental_dt
                td
                  a(class="button is-primary" href='/return/'+list.uid+'/return') 반납
