extends ../layout

block main
  section(class='section')
    include navbar
  section(class='section')
    div(class='container')
      div(class='table-container')
        table(class='table is-fullwidth' id='rentalTable')
          thead
            tr
              th(onclick='sortRentalTable(0)') 장비 이름
                i(class='fas fa-sort')
              th(onclick='sortRentalTable(1)') 대여자
                i(class='fas fa-sort')
              th(onclick='sortRentalTable(2)') 대여 시간 
                i(class='fas fa-sort')
              th(onclick='sortRentalTable(3)') 대여 여부
              case roleID
                when 1 
                  th 반납 확인
          tbody
            each list in listDB
              tr
                td
                  a(href='/device/'+list._id)= list.name
                td= list.rental[list.__v].rental_user_name
                td= format(list.rental[list.__v].rental_dt, 'yyyy-MM-dd hh:mm')
                td
                  case list.rental[list.__v].rental_dt
                    when null
                      div(class='buttons has-addons')
                        a(class='button is-info' href='/rental/'+list._id+'/rental') 대여 가능
                    default
                      div(class='buttons has-addons')
                        a(class='button is-warning' disabled) 대여 중
                td
                  case roleID
                    when 1
                      a(class='button' href='/rental/'+list._id+'/return') 반납 확인
        script(src='/source/javascript/rental-table-sort-1.0.js')
