extends ../layout

block main
  section(class="section")
    include navbar
  section(class="section")
    div(class="container")
      div(class="table-container")
        table(class="table is-fullwidth")
          thead
            tr
              th 이름
              th OS
              th OS 버전
              th 대여 여부
          tbody
            each list in deviceinfo
              tr
                td
                  a(href='/device/'+list.uid)= list.device_name
                td= list.device_ostype
                td= list.device_osversion
                td
                  a(class="button is-primary" href='/rental/'+list.uid+'/rental') 대여
