extends ../layout 

block main
    section(class="section")
        div(class="columns is-mobile")
                div(class="column")
                        div(class="container")
                            div(class="content")
                                form(action="/rental/"+deviceinfo.uid+"/rental" method="post")
                                    section(class="section")
                                        h1= deviceinfo.device_name
                                        h2 대여할 사람을 선택하세요.
                                        p
                                            div(class="select")
                                                select(name="user_uid")
                                                    option
                                                    each user in userinfo
                                                        option(value= user.uid)= user.user_name
                                    section(class="section")
                                        div(class="field is-grouped")
                                            p(class="control")
                                                input(class="button is-success" type="submit" value="확인")
                                            p(class="control")
                                                a(class="button" href="/rental") 취소
                                            