extends ../layout 

block main
    section(class="section")
        div(class="columns is-mobile")
            div(class="column")
                div(class="container")
                    div(class="content")
                        form(action="/rental/"+returninfo.uid+"/return" method="post")
                            section(class="section")
                                h1= returninfo.device_name
                                h2 반납 확인한 사람을 선택하세요.
                                p
                                    div(class="select")
                                        select(name="return_user")
                                            option
                                            option(value="Dominic") Dominic
                                            option(value="Eden") Eden
                                            option(value="Jamie") Jamie
                                            option(value="Jina") Jina
                                            option(value="Levi") Levi
                            section(class="section")
                                div(class="field is-grouped")
                                    p(class="control")
                                        input(class="button is-success" type="submit" value="확인")
                                    p(class="control")
                                        a(class="button" href="/rental") 취소
