div(class="modal" id="returnModalView")
  div(class="modal-background")
    div(class="modal-card")
      header(class="modal-card-head")
        p(class="modal-card-title")= deviceName
        a(class="delete" class="returnModalViewClose")
      section(class="modal-card-body")
        p 반납하시겠습니까?
      footer(class="modal-card-foot")
        form(action="/rental/"+id+"/return" method="post")
          input(class="button is-success" type="submit" value="확인")
          a(class="button" href="/device") 취소
script(src="/source/javascript/return-modal-view-1.0.js")
