nav(class="navbar" role="navigation" aria-label="main navigation")
  div(class="navbar-brand")
    div(class="navbar-item has-dropdown is-hoverable") 
      a(class="navbar-link") Dublin ☘️
      div(class="navbar-dropdown is-boxed")
        a(class="navbar-item" href="/") 홈
        a(class="navbar-item" href="/device") 장비